@model Fiap.Web.Ocorrencias.Models.ServicoEmergenciaModel

<h1>Serviço</h1>

<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- IMPORTANTE elemento form -->
        <form asp-action="Edit" asp-controller="ServicoEmergencia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- IMPORTANTE propriedade ClienteId oculto -->
            <input type="hidden" asp-for="id_serv_emergencia" />

            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="gravidade_atendida" class="control-label"></label>
                <select asp-for="gravidade_atendida" asp-items="@ViewBag.gravidade_atendida" class="form-select">
                    <option value="0">Selecione</option>
                </select>
                <span asp-validation-for="gravidade_atendida" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>